<header>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/registrazione">registrazione</a></li>
      <li><a href="/login">login</a></li>
      <li><a href="/user/dashboard">user dashboard</a></li>
    </ul>
  </nav>
</header>
