<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("components/head") %>
  </head>
  <body>
    <%- include("components/header") %> <%- include("pages/" + page) %> <%-
    include("components/footer") %>
  </body>
</html>
